<!DOCTYPE html>
<html>
<head>
	<title>Bank Note Authentication</title>
	<meta charset="utf-8">

	<!-- Bootsrap -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<!-- Bootsrap End -->
	

</head>
<body>

<div class="container">
<center><strong><h1>Enter all the features</h1></strong></center><br>

	<form action="{{ url_for('predict')}}"method="post">

		<div class="form-group">
		<label>Variance</label><br>
		<input type="text" class="form-control" name="variance" placeholder="Enter Variance of notes" required="required" /><br><br>
		</div>
		<div class="form-group">
		<label>Skewness</label><br>
		<input type="text" class="form-control" name="skewness" placeholder="Enter Skewness of notes" required="required" /><br><br>
		</div>
		<div class="form-group">
		<label>Curtosis</label><br>
		<input type="text" class="form-control" name="curtosis" placeholder="Enter Curtosis of notes" required="required" /><br><br>
		</div>
		<div class="form-group">
		<label>Entropy</label><br>
		<input type="text" class="form-control" name="entropy" placeholder="Enter Entropy of notes" required="required" /><br><br>
		</div>

		<br><br><br><button type="submit" class="btn btn-default"><strong>Fake/Genuine</strong></button>

	</form>
	</div>

<div>
       <center>
   <h1>{{ prediction_text }}</h1>
       </center>
</div>

</body>
</html>